.clipped-shape {
    width: 60%;
    height: 40px;
    top: 0;
    background: #e007bc;
    color: white;
    clip-path: url(#roundedClip);
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    direction: rtl;
    position: absolute;
}

.clipped-shape p {
    margin: 0;
    padding-bottom: 10px;
}

@media (max-width: 789px) {
    .clipped-shape {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .clipped-shape {
        width: 60%;
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 639px) {
    .clipped-shape {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .clipped-shape {
        height: 30px;
        width: 60%;
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .clipped-shape {
        width: 45%;
    }
}

@media (max-width: 339px) {
    .clipped-shape {
        width: 35%;
        font-size: 18px;
    }
}
