.clipped-shape {
    width: 70%;
    height: 40px;
    background: #e007bc;
    color: white;
    clip-path: url(#roundedClip);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    direction: rtl;
}

.wrapper {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    right: 0;
}

.clipped-shape p {
    margin: 0;
}

@media (max-width: 768px) {
    .clipped-shape {
        height: 35px;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .clipped-shape {
        height: 30px;
        font-size: 14px;
    }
}
