.toggle-button {
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button.toggled {
    background-color: rgba(9, 144, 49, 0.905);
}

.toggle-circle {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-button.toggled .toggle-circle {
    transform: translateX(30px);
}

@media (max-width: 1600px) {
    .toggle-button {
        width: 40px;
        height: 20px;
        padding: 1px;
    }

    .toggle-circle {
        width: 18px;
        height: 18px;
    }

    .toggle-button.toggled .toggle-circle {
        transform: translateX(20px);
    }
}
