.cart {
    position: fixed;
    top: 12%;
    left: -100%;
    width: 20%;
    background-color: #ffffff;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.cart-open {
    left: 0;
    opacity: 1;
}

.empty {
    color: #333;
    text-align: center;
    margin: 10px;
}
