.item {
    display: flex;
    border-radius: 30px;
}

.text-center {
    color: var(--black);
    text-align: center;
    direction: rtl;
    padding: 2rem 0 1rem;
}

.text-center h3 {
    margin: 1rem 0;
}

.text-center img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.text-center p {
    margin: 0;
    font-size: 1em;
}

.list-unstyled {
    padding: 1rem;
    list-style: none;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-unstyled li {
    background: #f9f9f9;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    direction: rtl;
    text-align: right;
    position: relative;
    color: var(--black);
    width: 100%;
    gap: 50px;
}

.list-unstyled img {
    width: 100px;
    height: 45px;
    object-fit: contain;
}

.logo {
    flex: 1;
}

.price {
    flex: 1;
    font-size: 1.2em;
}

.discount {
    flex: 1;
    font-weight: bold;
    color: #d32f2f;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem;
}

.form-container {
    width: 35%;
}

.modal-header {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding-bottom: 10px;
}

@media (max-width: 1400px) {
    .form-container {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .list-unstyled li {
        padding: 12px;
        font-size: 0.9em;
    }

    .price {
        font-size: 1.1em;
    }

    .list-unstyled img {
        width: 80px;
    }
}

@media (max-width: 768px) {
    .text-center img {
        max-width: 200px;
    }

    .list-unstyled li {
        padding: 10px;
        font-size: 0.85em;
    }

    .price {
        font-size: 1em;
    }

    .form-container {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .text-center img {
        max-width: 150px;
    }

    .form-wrapper {
        margin: 10px 0;
    }

    .list-unstyled li {
        padding: 8px;
        font-size: 0.75em;
    }

    .price {
        font-size: 0.9em;
    }
}

@media (max-width: 330px) {
    .form-container {
        width: 70%;
    }
}
