.side-popup {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 0;
    position: fixed;
    top: 18dvh;
    width: 18%;
    height: 82dvh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.side-title {
    background-color: var(--turquoise);
    color: #fff;
    padding: 0 20px;
    text-align: right;
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.side-title-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.side-title-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.side-title h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    font-style: normal;
    margin: 0;
}

.categories-popup {
    border-radius: 0 0 0 20px;
    right: 0;
}

@media (max-width: 1600px) {
    .side-popup {
        width: 100%;
    }
}
