.nav {
  background-color: #2b9940 !important;
  font-size: 20px;
}

.collapse {
  text-align: right;
}

.nav-icon {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

.logo {
  width: 197px;
  height: 92px;
}

.nav-logo {
  background-color: rgb(236, 236, 236);
}

.nav-brand {
  margin-right: 270px !important;
}

.search {
  margin-right: 50px;
}

.link {
  margin: 0 auto;
  color: #fff !important;
}

.link :hover {
  transition: all 0.4s ease-in-out;
  color: #272727;
}

.links-card {
  position: absolute !important ;
  top: 63%;
  z-index: 100;
  width: 15rem;
  max-height: 100px;
  direction: ltr;
  overflow-y: scroll;
}

.links-card__hidden {
  visibility: hidden;
}

.cart-button {
  margin-left: 0;
}

@media (max-width: 768px) {
  .link {
    margin: 0;
    padding: 0.5rem 0 !important;
  }

  .nav-icon {
    display: inline;
    margin-left: 10px;
    color: #ffffff;
  }
  .nav-brand {
    margin: 0 !important;
  }
  .search {
    margin: 0;
  }
  .links-card {
    max-height: 135px;
    position: relative;
    top: auto;
  }
}
