.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.login-container {
    background-color: var(--turquoise);
    padding: 10px 60px;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--black);
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border: none;
    cursor: pointer;
}

.categories-btn {
    background-color: var(--turquoise);
}

.btn svg {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.side-container {
    flex: 0.25;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.search-container {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #2f302e;
    justify-content: space-between !important;
}

.collapse {
    text-align: right;
}

.nav-icon {
    display: block;
    margin: 0 auto;
    font-size: 30px;
}

.link {
    margin: 0 auto;
    color: #fff !important;
}

.link :hover {
    transition: all 0.4s ease-in-out;
    color: #272727;
}

.links-card__hidden {
    visibility: hidden;
}

.cart-button {
    margin-left: 0;
}
.search input {
    border-radius: 0.25rem;
    border-color: transparent;
}

.children {
    padding: 20px;
    transition: padding-left 0.3s ease-in-out;
}

.open-cart {
    padding-left: 25%;
}

@media (max-width: 992px) {
    .link {
        margin: 0;
        padding: 0.5rem 0 !important;
    }

    .nav-icon {
        display: inline;
        margin-left: 10px;
        color: #ffffff;
    }
    .nav-brand {
        margin: 0 !important;
    }
    .search {
        margin: 0;
        text-align: right;
        width: 50%;
    }
    .search input {
        width: 100%;
    }
    .links-card {
        max-height: 10rem;
        position: relative;
        top: auto;
    }
    .collapse {
        padding: 0;
    }
    .logo {
        width: 177.73px;
        height: 83px;
        margin: 5px;
    }
}
