.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

.login-container {
    background-color: var(--turquoise);
    padding: 0 60px;
    display: flex;
    height: 8dvh;
    align-items: center;
    justify-content: space-between;
}

.toggle-container {
    justify-content: end;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--black);
    border-radius: 30px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn svg {
    margin-right: 10px;
}

.categories-btn {
    background-color: var(--turquoise);
}

.categories-btn:hover {
    background-color: var(--turquoiseHover);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding: 0 20px;
    background-color: #edf1f3;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.side-container {
    flex: 0.2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding: 0 30px;
    gap: 30px;
}

.categories-container {
    direction: rtl;
    align-items: start;
}

.children {
    min-height: 100dvh;
    background-color: #edf1f3;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1600px) {
    .login-container {
        padding: 0 20px;
        justify-content: space-between;
    }

    .mobile-actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
