.toggle-container {
    display: flex;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
}

.toggle-button {
    border-radius: 4px;
    background-color: white;
    color: var(--black);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: center;
}

.active {
    background-color: rgba(9, 144, 49, 0.905);
    color: white;
}

@media (max-width: 1600px) {
    .toggle-button {
        font-size: 14px;
        padding: 8px 15px;
    }
}
