.card-form-container {
    display: inline-flex;
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 30px;
}

.add-to-cart-button {
    color: #fff;
    background: var(--turquoise);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0;
}

.add-to-cart-button::before {
    content: "הוספה לעגלה";
}

.add-to-cart-button:hover {
    cursor: pointer;
    background-color: var(--turquoiseHover);
}

.quantity-input {
    border: none;
    outline: 0;
    width: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    padding: 5px;
    direction: ltr;
}

.quantity-input:focus {
    outline: 0 !important;
}

.bump {
    animation: bump 0.3s ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .add-to-cart-button::before {
        content: "הוספה";
    }

    .card-form-container {
        width: 80%;
    }

    .quantity-input {
        width: 100%;
    }

    .add-to-cart-button {
        padding: 8px 15px;
    }
}

@media (max-width: 576px) {
    .card-form-container {
        width: 100%;
    }

    .quantity-input {
        width: 100%;
    }
}

@media (max-width: 330px) {
    .card-form-container {
        width: 60%;
    }
}
