.banner {
    position: relative;
    color: #fff;
    background: var(--black);
    opacity: 0.9;
    margin-top: 18dvh;
    height: 20dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-align: center;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
            rgba(9, 144, 49, 0.905),
            rgba(9, 144, 49, 0.905)
        ),
        /* Color overlay */
            url("../../../assets/pexels-kelly-1179532-3129802.jpg"); /* Background image */
    background-size: cover; /* Scales the image to cover the container */
    background-position: center; /* Centers the image */
    opacity: 0.7; /* Adjust the image opacity */
    z-index: -1; /* Ensures the image is behind the content */
}

.banner h1 {
    font-size: 44px;
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .banner h1 {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .banner h1 {
        font-size: 20px;
    }
}

@media (max-width: 330px) {
    .banner h1 {
        font-size: 16px;
    }
}
