.carousel {
  color: #ffffff;
  margin: 10px auto;
}

.button {
  margin-top: 10px;
}

.actions {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  gap: 10%;
  padding-bottom: 2rem;
}

.carousel li {
  margin-top: 5px;
  direction: rtl;
}

.padding {
  color: transparent;
}

.discount {
  color: red;
}

.control-arrow:hover {
  background: transparent !important;
}

@media (max-width: 768px) {
  .actions {
    margin: 10px 80px 45px 80px;
  }
}
