.search {
    position: relative;
    width: 600px; /* Adjust as needed */
    margin: 0 auto;
    text-align: right;
    direction: rtl;
}

.input-container {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px; /* Rounded left corners */
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    color: #4a4a4a; /* Text color */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15); /* Light shadow */
}

input::placeholder {
    color: #999999; /* Placeholder text color */
    font-style: italic;
}

.input-active {
    border: 1px solid var(--turquoise); /* Teal border when active */
}

.search-button {
    background-color: var(--turquoise); /* Teal button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px; /* Rounded right corners */
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 0;
}

.search-button:hover {
    background-color: #009ea3;
}

.search-button svg {
    margin-right: 5px;
}

.links-card {
    position: absolute;
    top: 46px; /* Adjust for dropdown position */
    left: 0;
    right: 0;
    background-color: #ffffff; /* White background for dropdown */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Shadow for dropdown */
    z-index: 10;
}

.links-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links-card li {
    padding: 10px 20px;
    cursor: pointer;
}

.links-card li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

.result-btn {
    background-color: var(--turquoise); /* Teal .result-btn */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px 20px;
    display: block;
    width: calc(100% - 40px); /* Make the .result-btn full width with padding */
    text-align: center;
}

.result-btn:hover {
    background-color: #009ea3; /* Slightly darker teal on hover */
}

.input-active {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
