body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cfd3c8 !important;
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loading {
    min-height: 100px;
    display: flex;
    align-items: center;
}
